:root > * {
  --md-primary-fg-color:        #546E7A;
  --md-primary-bg-color:        #FFEBEE;
  --md-accent-fg-color:         #1A237E;
  --md-footer-fg-color:         #B71C1C;
  --md-footer-bg-color:         #EDE7F6;
}

.md-typeset {
  font-size: 24px;
}
