:root > * {
  --md-primary-fg-color:        #546E7A;
  --md-primary-bg-color:        #FFEBEE;
  --md-accent-fg-color:         #1A237E;
  --md-footer-fg-color:         #B71C1C;
  --md-footer-bg-color:         #E5E4E2;
}

.md-typeset {
  font-size: 24px;
}

.icons i,
.icons svg {
   color: #2759AE;
}

.fcf-body {
    font-family: -apple-system, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #0000ff;
    text-align: left;
}

input[type="text"]
{
    font-family: Comic Sans MS;
}
.fcf-form-group {
    font-family: Comic Sans MS;
}

.mySlides {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
html a[title="Instagram"].md-social__link svg {
    color: #fd282e;
}
html a[title="Email"].md-social__link svg {
    color: #fd282e;
}